*.mp3
*.jpg
*.png
*.jpeg
*.gif
*.bmp
*.avi
*.mp4
*.m4v
*.mkv
*.flac
*.wav
*.egg
*.egg-info
*.py[cod]
*.pyd
*.pyo
.Python
.eggs
.installed.cfg
__pycache__
build
develop-eggs
dist
downloads
eggs
lib
lib64
parts
sdist
var
wheels
.coverage
